/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Inter, sans-serif);
  font-variation-settings: var(--card-content, 400);
  background-color: var(--background-color, #ffffff);
  background-attachment: scroll;
  background-size: cover;
  background-image: var(--background-image, repeating-linear-gradient(
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
      ),
      linear-gradient(
        #e7e7e7 0.01%,
        #1a1a1a
        ));
        color: var(--accent-color, #000000);
        padding-block-start: 100px;
        margin: 0 auto;
        min-width: 375px;
        max-width: 700px;
}

/* блок header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: 2px solid;
  border-color: var(--accent-color, #000000);
  background-color: var(--background-color, #fff);
  font-family: var(--PressStart2P, sans-serif);
  min-width: var(--width-content, 100%);
  margin-block-end: 100px;
  min-height: 368px;
}

.menu-title {
  padding-block-end: 20px;
  font-weight: var(--menu-font-weight, 400);
  font-size: var(--menu-font-size, clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem));
}

.menu-title-teg {
  font-weight: var(--menu-font-weight, 400);
  font-size: var(--menu-list-font-size, clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem));
  text-transform: uppercase;
  padding-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-block-end: 25px;
  padding-inline-start: 15px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  font-weight: var(--menu-font-weight, 400);
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -15px;
}

/* блок header */
/* блок main */
.card {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color: var(--accent-color, #000000);
  background-color: var(--background-color, #fff);
  margin-block-end: 50px;
  min-width: var(--width-content, 100%);
  min-height: 959px;
}

.card-title {
  min-height: 31px;
  font-weight: var(--card-title-width, 400);
  font-size: 18px;
  padding-inline: 10px;
  padding-block: 3px;
}

.image-container {
  position: relative;
}

.card__label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--PressStart2P, sans-serif);
  font-size: 14px;
  font-weight: 400;
}

.image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  outline: 2px solid;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
  font-size: 18px;
  font-weight: var(--card-content, 400);
}

.card__button {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid;
  border-color: var(--accent-color, #000000);
  height: 38px;
  width: 130px;
  font-family: var(--PressStart2P, sans-serif);
  font-size: 14px;
  cursor: pointer;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* блок main */
/* блок футер */
.footer__button {
  display: flex;
  border: 2px solid;
  border-color: var(--accent-color, #000000);
  background-color: var(--background-color, #ffffff);
  min-width: 335px;
  min-height: 55px;
  font-family: var(--PressStart2P, sans-serif);
  font-size: 14px;
  padding: 15px 21px 15px 19px;
  margin-block-end: 100px;
  cursor: pointer;
}


.floppy-disk {
  width: 21px;
  height: 21px;
}
/* блок футер */


/* фильтры */
/* .filter-grayscale {
  filter: grayscale(70%);
}

.filter-multiple {
  filter: contrast(50%) hue-rotate(35deg) saturate(130%);
}

.filter-hue-rotate {
  filter: hue-rotate(210deg);
}

.filter-saturate {
  filter: saturate(250%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(10px);
} */
/* фильтры */


/* блок main */
  
  @media (width <= 375px) {
    .header {
      min-width: var(--mobile-content, 100%);
      min-height: 327px;
    }

    .card {
      min-width: var(--mobile-content, 100%);
      min-height: 760px;
    }

    .footer__button {
      min-width: 306px;
      min-height: 84px;
    }

    .card__icon-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }

    .floppy-disk {
      width: 28px;
      height: 28px;
    }
  }